@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* App.css */
body,
html {
    overflow-x: hidden;
    width: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    align-items: center;
}