@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body,
html {
    overflow-x: hidden;
    width: 100vw;
    background: linear-gradient(90deg, #333E89 0%, #202756 50%, #171B3D 75%, #0D1023 100%);
    height: 100vh;
    background-size: cover;
    /* background-attachment: fixed;  ---statyczne tlo---  */
}